<div style="padding: 10px; margin: 10px">
    <h2 style="text-align: center;">{{profession.name}}</h2>
    <p style="text-align: justify;">{{profession.description}}</p>
    <div *ngIf="professionTestDone==true&&personalityTestDone==true">
        <b>Preferences you selected</b>
        <div *ngFor="let pref of checkedPreferences;">
            <p>{{pref.description}}
            <span *ngIf="pref.checked">
                <mat-checkbox checked="pref.checked" onclick="return false;"></mat-checkbox>
            </span></p>
        </div>
    </div>
    <div *ngIf="personalityTestDone==true&&professionTestDone">
        <b>Personality traits you own</b>
        <div *ngFor="let t of ownedTraits;">
            <p>{{t.trait}}
            <span *ngIf="t.owned">
                <mat-checkbox checked="t.owned" onclick="return false;"></mat-checkbox>
            </span></p>
        </div>
    </div>
    <button (click) = "activateProfession()" style="float: left; margin: 10px" *ngIf="editAllowed==true && profession.isActive==false" mat-button color="primary">Activate</button>
    <button (click) = "deleteProfession()" style="float: left; margin: 10px" *ngIf="editAllowed==true && profession.isActive == true" mat-button color="accent">Delete</button>
    <button style="float: right; margin: 10px" mat-stroked-button color="primary" (click)="activeModal.close('Close click')">Close</button>
    <button (click) = "editProfession()" *ngIf="editAllowed==true" style="float: right; margin: 10px" mat-stroked-button color="warn">Edit</button>
  </div>

