<mat-toolbar class="navbar_style">
    <mat-toolbar-row>
        <h4 style="color: #ff9933; font-size: 120%;">Career Adviser System </h4>
        <span class="spacer"></span>
 

        <div *ngIf="loggedUser==null">
           <button mat-raised-button color="primary" (click)="login()">&nbsp; &nbsp;Log In</button>
        </div>
    
        <div *ngIf="loggedUser != null">
            <button *ngIf = "loggedUser.userRoleName === 'ROLE_ADMIN'" style="margin-left: 10px;" mat-stroked-button color="warn" (click)="registerAdmin()">Register admin</button>
            <button *ngIf = "loggedUser.userRoleName === 'ROLE_ADMIN'" style="margin-left: 10px;" mat-stroked-button color="warn" (click)="registerUser()">Register user</button>
            <button *ngIf = "loggedUser.userRoleName === 'ROLE_ADMIN'" style="margin-left: 10px;" mat-stroked-button color="warn" (click)="deletedProfessions()">Deleted professions</button>
            <button *ngIf = "loggedUser.userRoleName === 'ROLE_ADMIN'" style="margin-left: 10px;" mat-stroked-button color="warn" (click)="report()">Report</button>
            <button *ngIf = "loggedUser.userRoleName === 'ROLE_ADMIN'" style="margin-left: 10px;" mat-stroked-button color="warn" (click)="employmentScoreForm()">Employment score</button>
            <button *ngIf = "loggedUser.userRoleName === 'ROLE_ADMIN'" style="margin-left: 10px;" mat-stroked-button color="warn" (click)="personalityQuestions()">Personality questions</button>
            <button *ngIf = "loggedUser.userRoleName === 'ROLE_ADMIN'" style="margin-left: 10px;" mat-stroked-button color="warn" (click)="addPersonalityTrait()">Add trait</button>
            <button *ngIf = "loggedUser.userRoleName === 'ROLE_ADMIN'" style="margin-left: 10px;" mat-stroked-button color="warn" (click)="addProfession()">Add profession</button>
            <button *ngIf = "professionTestDone && personalityTestDone && loggedUser.userRoleName === 'ROLE_USER'"style="margin-left: 10px;" mat-stroked-button color="warn" (click)="candidateProfessions()">Candidate professions</button>
            <button *ngIf = "professionTestDone==false && loggedUser.userRoleName === 'ROLE_USER'" style="margin-left: 10px;" mat-stroked-button color="warn" (click)="professionTest()">Profession test</button>
            <button *ngIf = "personalityTestDone==false && loggedUser.userRoleName === 'ROLE_USER'" style="margin-left: 10px;" mat-stroked-button color="warn" (click)="personalityTest()">Personality test</button>
            <button *ngIf = "professionTestDone && personalityTestDone && loggedUser.userRoleName === 'ROLE_USER'" style="margin-left: 10px;" mat-stroked-button color="warn" (click)="professionResults()">Profession results</button>
            <button *ngIf = "personalityTestDone  && loggedUser.userRoleName === 'ROLE_USER'" style="margin-left: 10px;" mat-stroked-button color="warn" (click)="personalityResults()">Personality results</button>
            <button *ngIf = "personalityTestDone  && loggedUser.userRoleName === 'ROLE_USER'" style="margin-left: 10px;" mat-stroked-button color="warn" (click)="newPersonalityTest()">Repeat personality test</button>
            <button *ngIf = "professionTestDone  && loggedUser.userRoleName === 'ROLE_USER'" style="margin-left: 10px;" mat-stroked-button color="warn" (click)="newProfessionTest()">Repeat preferences test</button>
            <button style="margin-left: 10px;" mat-raised-button color="accent" (click)="logout()">Log Out</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>