<div class="modal-header"  style="text-align: center;">
    <h4  style="margin: 0 auto; color: #ff0066" class="modal-title">Login</h4>
    
 
  </div>

  <div class="modal-body">
   
    <form [formGroup]="form"  id="loginForm" novalidate>
        <div class="form-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <input type="text" id="username" class="form-control" [(ngModel)]="authRequest.username" placeholder="Username"
                        required autofocus formControlName="username" maxlength="64">
                        <div *ngIf="usernameCtrl.invalid && (usernameCtrl.dirty || usernameCtrl.touched)"
                               class="alert alert-danger">
                            <div *ngIf="usernameCtrl.errors.required">
                              Username is required.
                            </div>
                          </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <input type="password" id="password" class="form-control" [(ngModel)]="authRequest.password" placeholder="Password"
                        required autofocus formControlName="password" maxlength="64">
                        <div *ngIf="passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)"
                               class="alert alert-danger">
                            <div *ngIf="passwordCtrl.errors.required">
                              Password is required.
                            </div>
                          </div>
                    </div>
                </div>

                
            </div>
        </div>
    </form>
    
</div>

  <div class="modal-footer">
    <button mat-raised-button color="primary" (click)="login()" style="margin-right: 10px;">Login</button>
    <button mat-stroked-button color="accent" (click)="activeModal.close('Close click')">Close</button>
    <!-- <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Close</button> -->
  </div>
