
 <div class="modal-header">
    <h4  style="margin: 0 auto; color: #ff0066" class="modal-title">Personality test</h4>
    
    
  </div>
  <div class="modal-body">
    <p><b>Check statements that suite your personality.</b></p>
    <div *ngFor="let question of traitQuestionResults;">
        <p ><mat-checkbox [(ngModel)]="question.isChecked"></mat-checkbox>{{question.traitQuestion.text}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button mat-raised-button color="primary" (click)="submitQuestions()" style="margin-right: 10px;">Submit</button>
    <button mat-stroked-button color="accent" (click)="activeModal.close('Close click')">Close</button>
  </div>